<template>
    <div class="chat">
        <Message
            v-for="message in messages"
            v-bind:text="message.text"
            v-bind:author="message.author"
            v-bind:date="message.date"
            v-bind:key="message.key"
        ></Message>
    </div>
</template>

<script>
import Message from './message';
export default {
    data() {
        return {
            messages: [
                {
                    text: 'salut',
                    author: 'fabrice',
                    date: 'jsp',
                    key: 1
                },
                {
                    text: 'ça va ou quoi',
                    author: 'moi',
                    date: 'test',
                    key: 2
                },
                {
                    text: 'dabedidabeda',
                    author: 'pablo',
                    date: '1203945',
                    key: 3
                },
                {
                    text: 'mlzfjnvâjnefv',
                    author: 'theo',
                    date: 'maintenant',
                    key: 4
                }
            ]
        }
    },
    components: {
        message: Message
    }
}
</script>

<style scoped lang="scss">
@import '~assets/scss/room/chat.scss';
</style>