<template>
    <nav>
        <ul>
            <li><NuxtLink to="/">Home</NuxtLink></li>
            <li><NuxtLink to="/room">Rooms</NuxtLink></li>
        </ul>
    </nav>
</template>

<style scoped lang="scss">
@import '~assets/scss/header.scss';
</style>