<template>
   <div class="message">
       <p>{{ text }}</p>
       <div class="message-infos">
            <span class="author">{{ author }}</span> <span class="date">{{ date }}</span>
       </div>
   </div>
</template>

<script>
export default {
    name: 'Message',
    data() {
        return {
            message: ''
        }
    },
    props: {
        text: String,
        author: String,
        date: String
    }
}
</script>

<style scoped lang="scss">
@import '~assets/scss/room/message.scss';
</style>