<template>
    <div class="users">
        <h2>Liste des utilisateurs connectés</h2>
    </div>
</template>

<script>
export default {
    
}
</script>

<style scoped lang="scss">
@import '~assets/scss/room/users.scss';
</style>