<template>
    <div>
        <main>
            <users />
            <chat />
        </main>

        <form @submit.prevent="onSubmit">
            <input v-model="message" type="text" />
            <button>submit</button>
        </form>
    </div>
</template>
<script>
import io from 'socket.io-client';
export default {
    data() {
        return {
            message: '',
            socket: null
        }
    },
    methods: {
        onSubmit() {
            this.socket.emit('chat message', this.message);
        }
    },
    mounted() {
        this.socket = io('http://localhost:4000');
    }
}
</script>