<template>
    <div>
        <!-- <a v-if="href" :href="href">rejoindre</a> -->
        <form @submit.prevent="onSubmit">
            <label for="room">choose a room</label>
            <input id="room" name="room" v-model="roomChoice" type="text" />
            <label>choose a username</label>
            <input id="user" name="user" v-model="username" type="text" />
            <button>submit</button>
        </form>
    </div>
</template>
<script>
import io from 'socket.io-client';
export default {
    data() {
        return {
            roomChoice: '',
            username: ''
        }
    },
    methods: {
        async onSubmit() {
            const url = await fetch(`https://localhost:4000/check-room?room_choice=${this.roomChoice}&username=${username}`, {
                    method: GET,
                    headers: [['Accept', 'application/json']],
                    body: {
                        roomname: this.roomChoice,
                        username: this.username
                    }
            });
        }
    }
}
</script>